# **1.  TP : Introduction aux structures de données en Python**

In [1]:
#importation de pandas pour la transformation du dictionnaire en datafram pour la manipulation
import pandas as pd

In [18]:
#Création du dictionnaire
ventes=[
    {"produit": "ordinateur", "quantité": 5, "prix_unitaire": 700},
    {"produit": "smartphone", "quantité":8, "prix_unitaire":300},
    {"produit": "tablette", "quantité": 2, "prix_unitaire":400},
]

### **1. Calcul du total des ventes pour chaque produit (quantité * prix_unitaire).**

In [4]:

ventes_df = pd.DataFrame(ventes)
ventes_df["total_vente"] = ventes_df["quantité"] * ventes_df["prix_unitaire"]
ventes_df

      produit  quantité  prix_unitaire  total_vente
0  ordinateur         5            700         3500
1  smartphone         8            300         2400
2    tablette         2            400          800

### **2.	Chiffre d'affaires total du magasin pour la journée.**

In [5]:
total_vente_journee = ventes_df["total_vente"].sum().copy()
total_vente_journee

6700

### **3.Ajout d'une nouvelle vente au tableau**

In [21]:
ventes.append({"produit": "imprimante", "quantité": 3, "prix_unitaire": 150})
ventes_df2=pd.DataFrame(ventes).copy()
ventes_df2["total_vente"]=ventes_df2["quantité"]* ventes_df2["prix_unitaire"]

In [31]:
ventes_df2

      produit  quantité  prix_unitaire  total_vente
0  ordinateur         5            700         3500
1  smartphone         8            300         2400
2    tablette         2            400          800
3  imprimante         3            150          450

### **4.	Affichage des produits dont les ventes totales dépassent 1000 euros**

In [32]:
ventes_df2[ventes_df2["total_vente"]>1000]

      produit  quantité  prix_unitaire  total_vente
0  ordinateur         5            700         3500
1  smartphone         8            300         2400

In [1]:
from firebase_admin import db
import os
import json
from dotenv import load_dotenv
import firebase_admin
from firebase_admin import credentials, db
import streamlit as st
import pandas as pd

In [11]:
load_dotenv()
firebase_credentials_json = json.loads(os.environ.getenv("FIREBASE_CREDENTIALS")

SyntaxError: incomplete input (1127345229.py, line 4)

In [ ]:

# Vérifiersi l'application Firebase est déjà initialisée
if not firebase_admin._apps:
    cred = credentials.Certificate(firebase_credentials)  # Chemin du fichier JSON
    firebase_admin.initialize_app(cred, {
        'databaseURL': 'https://vde-pythondata-9211c-default-rtdb.europe-west1.firebasedatabase.app/'
    })

In [ ]:
certificate = firebase_admin.credentials.Certificate(firebase_credentials_json)
firebase_admin.initialize_app(certificate)

#Charger les variables d'environnement
load_dotenv()
#Charger les crédentials depuis la variables d'environnement
firebase_credentials_json=os.getenv("FIREBASE_CREDENTIALS")
if not firebase_credentials_json:
    raise EnvironmentError("La variable d'environnement 'FIREBASE_CREDENTIALS' est introuvable.")
#Convertir la chaine JSON en objet Python
firebase_credentials=json.loads(firebase_credentials_json)

In [14]:
    raw_creds = json.loads(os.environ.get('FIREBASE_CREDENTIALS'))
    raw_creds['private_key'] = raw_creds['private_key'].replace('\\n', '\n')
    cred = credentials.Certificate(raw_creds)
    FIREBASE_APP = initialize_app(cred)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [15]:
    import json

    my_dict = ({
  "type": "service_account",
  "project_id": "vde-pythondata-9211c",
  "private_key_id": "582d1aa1e86b07cca5dc4e9b72c6038bfb383221",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCoIbqPNaI2QdVT\nq7UiQvIl2L+lZSh1wzgjv9cww5VcKxfzXycwuBXmfW733g8c0NklM+Tf8LtAKc2G\ndyS4tRY0ZgTrUuJTYFkFikpXVuf7YIcP/J6g98sMJk3dqQbSCbdVNYUsykOXwxw0\npncERDpJZbiAUUpu98bz3/g/+OTtbVzY9s8GeUlSqH8SnoYLGgOIKrTUAFKGX45b\nB00lFxGeibFJMAeHp4fqwd8UUmfkgw/ekltNVDKZ+Jl1KLaG+qkuvhVen4cxIuSs\nvGY7S2WwoEZjG3p65ZLMBTh4neTQ4ROjVbMSYLN9w/zQueZ1tHV/g7pohAK781Hj\nFWGksoIPAgMBAAECggEADcw+0DPkQl74D9bJQFeNdxeo7/zeQNPVjpwsH8oH6Y7L\nzLg5XMvZWEILp6HR9wPDXkSPpY/O/ilavuHrjJD9PS2bfRMfPx0VZoP+goO/o/yR\no6PlV2vJKQ/CV3eLTL9pYT/JfxnWSY/Eh87wI38p6A4bVxnUvvNB9jpM2DXSgRLU\nqSA64nb4vjsz3nELLW83V3a6k8JHhP5FM5lPuiWjxSrRlq2U4SxsOg2lrQ+8YuiE\nEaK5QopOB0rOH9QcJdy85Jtka5PvwVV1yPx72CmtYfCf0C8s/HP4jV3kMeNjJrvG\nvUH0QBcrkgJMqjo1e9G5yFiVPplRLHz6CznsWCaGkQKBgQDkmOYx3BO3ASWfKcOO\nQVqSVuBttrdyT/JAoWSBM1z8RRkzhNf9n4nQA66bDmLdwihTQKToW9DyPw8l1Qwv\naXZ5qfMBlwrV5KgAOY2/r4QKd2XE8+D8q/PbY9pz0YCS24Tz6kOpekgtY6V2oeax\nk3PAikndVRJtk8vUyby/jOmpxwKBgQC8SUnPkisIETFJRxKUupvRRvW9uOQAaGpP\nvxHH1Dbby9aBmUp+hL98eikH87e3k2vPUNwYry5na7zpVns/7OBQ5ofqJfeiPqqQ\nfzIqQG/4sn431zMjJq+aHimFDlPl0zQaV7sA4amy/qEiP7JckEtTC2vUY3YptG92\nvi5WsYyleQKBgQCnNtzzzdsx+4nMkl00usOI1jnWp1grKyW2dxgwliTHd7gGgn8I\nS+IgIgFf9LcHJdYfh+LZAQinms72yo/eQpPiTRmvqQ/JBDiL6Y2xkK7ShSIRXp/N\n0+5OJg2OuMoHIsJvNYaG+ya+5OwNCkLY1FZQmheL6oXPV9Q689K4f1gQ0wKBgDEB\n2mZeozisUOnDyABSOfBUye2hzCaXBuTO1K/wen7nJWQCJDOeFcEugrOBKhZsFqmV\nYFREdI2Sq08IpXfUDebAuiulyji+muKVWNdKglp3Cwc5yiOiFB7HLwNk4U12lZ8t\nqozmL6dZQ1OIxMH3BMQOuvhDEyRzxHdhtOn3uKXxAoGANGsDAA4smncJuXDXEuGG\n+qUK/HdZshA+T3xlLDwqt6M/bF92qtfp1dccuAHRtXSTQtPAqkEd8Zya/ssTf1gX\npJpSTl95iCcYSd6X/TlXdW3jph/76KnLDlrWkr1koCnRsE8kdOODpQhUAFPcnrsZ\nSYX1Ijmw4J4Hpx97iAWVX9o=\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk-fbsvc@vde-pythondata-9211c.iam.gserviceaccount.com",
  "client_id": "102687066555217815775",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40vde-pythondata-9211c.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
)
    json_string = json.dumps(my_dict)
    print(json_string)

{"type": "service_account", "project_id": "vde-pythondata-9211c", "private_key_id": "582d1aa1e86b07cca5dc4e9b72c6038bfb383221", "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCoIbqPNaI2QdVT\nq7UiQvIl2L+lZSh1wzgjv9cww5VcKxfzXycwuBXmfW733g8c0NklM+Tf8LtAKc2G\ndyS4tRY0ZgTrUuJTYFkFikpXVuf7YIcP/J6g98sMJk3dqQbSCbdVNYUsykOXwxw0\npncERDpJZbiAUUpu98bz3/g/+OTtbVzY9s8GeUlSqH8SnoYLGgOIKrTUAFKGX45b\nB00lFxGeibFJMAeHp4fqwd8UUmfkgw/ekltNVDKZ+Jl1KLaG+qkuvhVen4cxIuSs\nvGY7S2WwoEZjG3p65ZLMBTh4neTQ4ROjVbMSYLN9w/zQueZ1tHV/g7pohAK781Hj\nFWGksoIPAgMBAAECggEADcw+0DPkQl74D9bJQFeNdxeo7/zeQNPVjpwsH8oH6Y7L\nzLg5XMvZWEILp6HR9wPDXkSPpY/O/ilavuHrjJD9PS2bfRMfPx0VZoP+goO/o/yR\no6PlV2vJKQ/CV3eLTL9pYT/JfxnWSY/Eh87wI38p6A4bVxnUvvNB9jpM2DXSgRLU\nqSA64nb4vjsz3nELLW83V3a6k8JHhP5FM5lPuiWjxSrRlq2U4SxsOg2lrQ+8YuiE\nEaK5QopOB0rOH9QcJdy85Jtka5PvwVV1yPx72CmtYfCf0C8s/HP4jV3kMeNjJrvG\nvUH0QBcrkgJMqjo1e9G5yFiVPplRLHz6CznsWCaGkQKBgQDkmOYx3BO3ASWfKcOO\nQVqSVuBttrdyT/JAoWSBM1z8RRkzhNf9n4nQA66bDmLdwihTQKToW9DyPw8l1Qwv\naXZ5qfMBlwrV5KgAOY2/r4QKd2XE8+D8q/PbY9pz0YCS24Tz6kOpekgtY6V2oeax\nk3PAikndVRJtk8vUyby/jOmpxwKBgQC8SUnPkisIETFJRxKUupvRRvW9uOQAaGpP\nvxHH1Dbby9aBmUp+hL98eikH87e3k2vPUNwYry5na7zpVns/7OBQ5ofqJfeiPqqQ\nfzIqQG/4sn431zMjJq+aHimFDlPl0zQaV7sA4amy/qEiP7JckEtTC2vUY3YptG92\nvi5WsYyleQKBgQCnNtzzzdsx+4nMkl00usOI1jnWp1grKyW2dxgwliTHd7gGgn8I\nS+IgIgFf9LcHJdYfh+LZAQinms72yo/eQpPiTRmvqQ/JBDiL6Y2xkK7ShSIRXp/N\n0+5OJg2OuMoHIsJvNYaG+ya+5OwNCkLY1FZQmheL6oXPV9Q689K4f1gQ0wKBgDEB\n2mZeozisUOnDyABSOfBUye2hzCaXBuTO1K/wen7nJWQCJDOeFcEugrOBKhZsFqmV\nYFREdI2Sq08IpXfUDebAuiulyji+muKVWNdKglp3Cwc5yiOiFB7HLwNk4U12lZ8t\nqozmL6dZQ1OIxMH3BMQOuvhDEyRzxHdhtOn3uKXxAoGANGsDAA4smncJuXDXEuGG\n+qUK/HdZshA+T3xlLDwqt6M/bF92qtfp1dccuAHRtXSTQtPAqkEd8Zya/ssTf1gX\npJpSTl95iCcYSd6X/TlXdW3jph/76KnLDlrWkr1koCnRsE8kdOODpQhUAFPcnrsZ\nSYX1Ijmw4J4Hpx97iAWVX9o=\n-----END PRIVATE KEY-----\n", "client_email": "firebase-adminsdk-fbsvc@vde-pythondata-9211c.iam.gserviceaccount.com", "client_id": "102687066555217815775", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40vde-pythondata-9211c.iam.gserviceaccount.com", "universe_domain": "googleapis.com"}